@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

.logo {
  padding: 10px;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oooh Baby", cursive;
  font-weight: bolder;
}
.customers_header {
  background: linear-gradient(127deg, #813ec0, rgba(11, 231, 121, 0) 40.71%),
    linear-gradient(217deg, #ff333d, #da98c6 60.71%),
    linear-gradient(336deg, #e1ec46, rgba(11, 231, 121, 0) 90.71%);
}
.home_link {
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home_redirect {
  text-decoration: none;
  color: #813ec0;
}
.home_redirect:hover {
  color: #ff333d;
}
.home_link .view_transection {
  background: linear-gradient(127deg, #813ec0, rgba(11, 231, 121, 0) 40.71%),
    linear-gradient(217deg, #ff333d, #da98c6 60.71%),
    linear-gradient(336deg, #e1ec46, rgba(11, 231, 121, 0) 90.71%);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
}
.home_link .transection {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.account_holder_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
}
.account_holder_name,
.account_holder_balance {
  font-weight: bold;
  background: -webkit-linear-gradient(#ff333d, #da98c6 60.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.customer_list {
  padding: 20px 60px 20px 60px;
  overflow: scroll;
}
.customer_list_items {
  padding: 10px 60px 10px 60px;
}
.customer_info {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px -1px rgb(58 31 31 / 20%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 4px 5px 0 rgb(0 0 0 / 14%);
  background-color: #ffffff;
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.customer_name,
.customer_email,
.customer_balance,
.send_button {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}

.button_val {
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 20px;
  background: rgb(44, 153, 44);
  cursor: pointer;
  border-radius: 10px;
}
.title {
  color: #813ec0;
  font-size: 25px;
  font-weight: bold;
}
.amount {
  margin: 5px 0px 5px 0px;
}
.transfer_button {
  border: none;
  outline: none;
  background-color: rgb(53, 156, 53);
  color: #ffffff;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 6px;
  line-height: 30px;
}
@media screen and (max-width: 1024px) {
  .customer_list_items {
    padding: 10px 0px 10px 0px;
  }
  .customer_list {
    padding: 10px 0px 10px 0px;
  }
  .customer_name,
  .customer_email,
  .customer_balance,
  .send_button {
    margin: 0px;
    font-size: 10px;
    font-weight: bolder;
  }
  .customer_info {
    padding: 0px;
  }
}
