.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
  padding: 20px;
  color: #ffffff;
  background-color: rgb(43, 42, 42);
}
